body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(34, 34, 166), rgb(109, 18, 109));
}

.app {
    margin-top: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
}

.app h1 {
    margin-bottom: 20px;
}

.input-add-task {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(232, 232, 232);
}

.add-task-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(232, 160, 27);
    color: #fff;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-component {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid grey;
    background-color: #fff;
}

.delete-task-button {
    background-color: #fff;
    font-size: 1rem;
}

.modify-task-button {
    font-size: 1rem;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100%;
}

.modify-task {
    display: flex;
    gap: 10px;
}

.input-modify-task {
    display: flex;
    background-color: black;
    font-size: 1rem;
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    overflow-y: scroll;
}

.input-modify-task::placeholder {
    color: #fff;
}

.confirm-modify-task-button, .do-not-confirm-modify-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.5rem;
    background-color: transparent;
}

@media (max-width: 390px) {

    .modify-task {
        gap: 5px;
    }

    .input-modify-task {
        font-size: .8rem;
    }
}


